//colors
$black: #000;
$white: #fff;

$gray-63: #636d90;
$gray-2a: #2a303a;
$gray-5e: #5e6d92;
$gray-e8: #e8e8e8;
$gray-9e: #9ea7bb;
$blue: #0080ff;
$blue2: #163ecc;
$blue-light: #f2f9ff;
$blue-cc: #cce6ff;
$yellow: #eaa60f;
$yellow2: #e69500;
$red: #ff0000;
