.header-menu{
  display: flex;
  justify-content: space-around;
  flex: 1 1 auto;
  margin: 0 10px;
  //width: 242px;
  //margin-right: 42px;
  @media screen and (max-width: 1200px) {
    //width: 200px;
    margin-right: 0;
  }
  @media screen and (max-width: 1080px) {
    display: block;
    margin-right: 0;
    width: auto;
    margin-bottom: 20px;
  }
  &__items{
    //margin-left: 35px;
    flex: 0 0 auto;
    @media screen and (max-width: 1080px) {
      padding: 10px 0;
      //margin-left: 0;
    }
  }
  &__links{
    color: $blue;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    transition: .5s;
    &_active,
    &:hover{
      color: $gray-2a;
    }
  }
}