.popup.modal#price
    .price-popup
        .price-popup__header
            .price-popup__header-cnt
                .price-popup__ttl Лицензии
                .price-popup__date 01 июня 2018
            .price-popup__header-all
                .price-popup__size PDF 5.6Mb
                a.price-popup__download(href="#") Скачать архив
        .price-popup__body
            .price-popup__prev От простой визуализации объектов интереса и поиска данных до сложных корпоративных систем с возможностями пространственной аналитики
            .price-popup__h Архив
            .price-popup__archive
                a.price-popup__archive-item(href="#")
                    .price-popup__archive-date 01 июня 2018
                    .price-popup__archive-size PDF 5.6MB
                a.price-popup__archive-item(href="#")
                    .price-popup__archive-date 22 апреля 2018
                    .price-popup__archive-size DOC 15.6MB
                a.price-popup__archive-item(href="#")
                    .price-popup__archive-date 22 апреля 2018
                    .price-popup__archive-size EXEL 335.6MB
        .price-popup__footer
            button.price-popup__close(type="button" data-izimodal-close="") Закрыть