.popup.modal#service
    .service-popup
        .service-popup__header
            .service-popup__header-cnt
                .service-popup__ttl Группа внедрения
                .service-popup__fio Нескромнов Антон Александрович
                .service-popup__position Куратор направления
            .service-popup__header-img(style="background-image:url('images/1c.svg')")
        .service-popup__body
            .service-popup__prev Внедрение, сопровождение и развитие корпоративных информационных систем на платформе 1С (учетные системы), а также систем электронного документооборота и портальных решений
            .service-popup__numb
                .service-popup__numb-item
                    .service-popup__numb-n 600
                    .service-popup__numb-d <span>пользователей</span> с базами 1С в общей сложности
                .service-popup__numb-item
                    .service-popup__numb-n 150
                    .service-popup__numb-d <span>пользователей</span> в наиболее большей базе 1 С
                .service-popup__numb-item
                    .service-popup__numb-n 4
                    .service-popup__numb-d <span>рабочих часа</span> - среднее время решения проблемы
            .service-popup__h Группа услуг: Поддержка 1С
            .service-popup__txt
                p Располагаем необходимым, чтобы построить фундамент ИТ-инфраструктуры предприятия любого уровня сложности.
                a.service-popup__bl(href="#")
                    .service-popup__bl-ttl Зарплата и управление персоналом
                    .service-popup__bl-img(style="background-image:url('images/zp.svg')")
                a.service-popup__bl(href="#")
                    .service-popup__bl-ttl Бухгалтерия предприятия ПРОФ
                    .service-popup__bl-img(style="background-image:url('images/buh.svg')")
                p Обеспечим бесперебойный доступ к базе и отказоустойчивость, проведем резервное копирование.
                p Обновим конфигурации платформы.
                p Стоимость услуг на одну базу в месяц определяется в зависимости от конфигурации и количество пользователей.
        .service-popup__footer
            button.service-popup__close(type="button" data-izimodal-close="") Закрыть