extends core/_template

append sharedVars
    - var activeMenu = '«Росатом» хочет заняться утилизацией мобильных телефонов и ноутбуков';

block title
    title=activeMenu

block content
    .workarea
        .page.page-detail
            .container.page-wrapper
                a.goback(href="#")
                    span Назад
                .detail-content
                    .detail-left
                        .detail-ttl
                            h1=activeMenu
                        .detail-date <span>14</span> марта
                        .detail-img(style="background-image:url('https://picsum.photos/1000?image=1050')")
                        .detail-prev.
                            Госкопорация <a href="#">"Росатом"</a> намерена заняться переработкой "начинки" электронных устройств с целью снижения экологической нагрузки на окружающую среду в процессе утилизации отслуживших электронных приборов
                        .detail-text
                            p Как следует из материалов на сайте закупок "Росатома", АО "Ведущий научно-исследовательский институт химической технологии" (ВНИИХТ, Москва, входит в научный дивизион "Росатома") организовал конкурс на право поставки, монтажа и пуско-наладки на опытном химико-технологическом заводе ВНИИХТ линии для переработки компонентов электронных плат с получением концентрата, содержащего драгоценные металлы и другие вторичные продукты.
                            br

                            h3 Поставки
                            p Поставки намечено выполнить к весне 2019 года. Начальная (максимальная) цена договора на работы — почти 26,5 миллиона рублей
                            br

                            h3 Электронные отходы
                            p К электронным отходам относятся все отслужившие свой срок устройства, чья работа зависит от электрического тока и/или электромагнитного поля.

                            div К таким отходам относятся, в том числе, и печатные платы, которые хотя и составляют около 3% от общего количества этого вида отходов, но из-за высокой концентрации токсичных веществ являются очень опасными:
                                ul
                                    li Подобные отходы без должной утилизации негативно воздействуют на окружающую среду
                                    li Наличие разнообразных высокотоксичных материалов и тяжелых металлов
                                    li Делает захоронение на свалке или простое сжигание неприемлемыми методами управления подобными отходами
                                    li Поэтому наиболее оптимальный способ утилизации электронных отходов — это их переработка

                    .detail-right
                        .our-project
                            a.our-project__img(href="#")
                                .our-project__logo(style="background-image:url('images/rosatom.png')")
                            .our-project__txt Наш проект<br><span>в портфолио</span>
                        .share
                            .share__icons
                                script(src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js")
                                script(src="//yastatic.net/share2/share.js")
                                .ya-share2(data-services="vkontakte,telegram,facebook,twitter" data-bare)
                            .share__txt <span>Поделитесь</span><br>с друзьями


            //end .container
        //end .page
    //end workarea