extends core/_template

append sharedVars
    - var activeMenu = '404';

block title
    title=activeMenu

block content
    .workarea
        .page.page-inner
            .container.page-wrapper
                .page404-head
                    .page-ttl
                        h1 Инновационные ИТ–решения для бизнеса
                    .page-description2 Расширим любой продукт на необходимый Вам функционал
                .page-content
                    .page404
                        .page404__bg 404
                        .page404__body
                            .page404__l
                                .page404__item
                                    a.page404__ttl(href="#") Группа внедрения
                                    .page404__txt Внедрение, сопровождение и развитие корпоративных информационных систем на платформе 1С (учетные системы), а также систем электронного документооборота и портальных решений
                                .page404__item
                                    a.page404__ttl(href="#") Геоинформационные системы
                                    .page404__txt От простой визуализации объектов интереса и поиска данных до сложных корпоративных систем с возможностями пространственной аналитики
                            .page404__r
                                p Запрашиваемой вами страницы не существует, но мы уверены, что сможем решить все ваши проблемы в сфере ИТ для бизнеса

                                p Вы можете ознакомиться с направленими нашей деятельности по ссылкам <span class="hide-mobile">слева</span>



            //end .container
        //end .page
    //end workarea