extends core/_template

append sharedVars
    - var activeMenu = 'Портфолио';

block title
    title=activeMenu

block content
    .workarea
        .page.page-inner
            .container.page-wrapper
                a.goback(href="#")
                    span Главная
                .page-head
                    .page-ttl
                        h1=activeMenu
                    .page-nav
                        a.page-nav__link.page-nav__link_big(href="#" data-category="years").js-show-category по годам
                        a.page-nav__link.page-nav__link_big.active(href="#" data-category="groups").js-show-category по группам
                .page-content
                    .slider
                        .portfolio
                            .swiper-wrapper
                                - for (var i=0; i<4; i++)
                                    .swiper-slide
                                        a.portfolio__item(href="#")
                                            .portfolio__item-img(style="background-image:url('images/TEMP/safu.png')")
                                            .portfolio__item-border
                                            .portfolio__item-hover
                                                .portfolio__item-content
                                                    .portfolio__item-tags
                                                        .portfolio__item-tag Хостинг
                                                        .portfolio__item-tag Консультирование
                                                    .portfolio__item-ttl Севералмаз
                                                    .portfolio__item-prev ПАО "Севералмаз" осуществляет добычу природных алмазов
                                                    .portfolio__item-year 2018
                                    .swiper-slide
                                        a.portfolio__item(href="#")
                                            .portfolio__item-img(style="background-image:url('images/TEMP/severalmaz.png')")
                                            .portfolio__item-border
                                            .portfolio__item-hover
                                                .portfolio__item-content
                                                    .portfolio__item-tags
                                                        .portfolio__item-tag Хостинг
                                                        .portfolio__item-tag Консультирование
                                                    .portfolio__item-ttl Севералмаз
                                                    .portfolio__item-prev ПАО "Севералмаз" осуществляет добычу природных алмазов
                                                    .portfolio__item-year 2018
                                    .swiper-slide
                                        a.portfolio__item(href="#")
                                            .portfolio__item-img(style="background-image:url('images/TEMP/alrosa.png')")
                                            .portfolio__item-border
                                            .portfolio__item-hover
                                                .portfolio__item-content
                                                    .portfolio__item-tags
                                                        .portfolio__item-tag Хостинг
                                                        .portfolio__item-tag Консультирование
                                                    .portfolio__item-ttl Севералмаз
                                                    .portfolio__item-prev ПАО "Севералмаз" осуществляет добычу природных алмазов
                                                    .portfolio__item-year 2018

                        .slider-nav
                            .slider-arr
                                .prev
                                .next
                            .slider-category
                                .portfolio-category#c-groups
                                    .portfolio-category__list
                                        a.portfolio-category__item.selected(href="#") Все
                                        a.portfolio-category__item(href="#") Техподдержка
                                        a.portfolio-category__item(href="#") ГИС
                                        a.portfolio-category__item(href="#") Поддержка 1С
                                .portfolio-category#c-years
                                    .portfolio-category__list
                                        a.portfolio-category__item.selected(href="#") 2018
                                        a.portfolio-category__item(href="#") 2017
                                        a.portfolio-category__item(href="#") 2016
                                        a.portfolio-category__item(href="#") 2015
                            .slider-num
                                span.js-current-slide 1
                                span /
                                span.js-all-slide 1


            //end .container
        //end .page
    //end workarea